::placeholder{
  color: lightgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.8em;
}

.has-danger{
  border: 1px solid red;
}

.has-success{
  border: 2px solid green;
}
